<div class="title">
  <h3><%= t('city') %> </h3>
  <span>
    <%= link_to t('delete'), cities_path, class: "btn btn-outline-danger"  %>
    <%= link_to t('edit'), edit_city_path(@city), class: "btn btn-outline-primary" %>
    <%= link_to t('back'), cities_path, class: "btn btn-outline-primary"  %>
  </span>
</div>

<div class="row">
  <div class="col-8 offset-2">
    <div class="card">

      <div class="card-footer">
        <i class="fa fa-globe fa-fw mr-2"></i> <%= @city.name %>, <%= @city.country %>
      </div>

    </div>
  </div>
</div>
