<!DOCTYPE html>
<html>
  <head>
    <title>RD Contacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= image_tag "logo.png", size: "170x50", class: 'navbar-brand' %>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">

          </ul>

          <ul class="navbar-nav">
            <li class="nav-item"> <%= link_to t('cities'), cities_path, class: "nav-link" %> </li>
            <li class="nav-item"> <%= link_to t('contacts'), contacts_path, class: "nav-link" %> </li>
          </ul>

        </div>

      </nav>

    </div>

    <div id="bodier">
      <div id="flash">
        <% flash.each do |key, value| -%>
            <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>

  </div>

  <div id="footer">
    <div class="bottom">
      <div class="left">
        <%= link_to "EN", locale: :en %>
        <%= link_to "BR", locale: :pt %>
        <%= link_to "ES", locale: :es %>
      </div>
      <div class="center">
        Resultados Digitais Challenge <a href="https://github.com/JonathanJumper/RDChallenge" target="_blank"> <i class="fa fa-github fa-fw" aria-hidden="true"></i></a> 2017
      </div>
      <div class="right">
        <%= t('made') %> <i class="fa fa-heart-o" aria-hidden="true"></i> <%= t('by') %> <a href="http://chingate.co" target="_blank" style="text-decoration: none">Chingaté</a>
      </div>
    </div>

  </div>

  </body>

</html>